@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Rubik;
}
img {
	width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	font-family: Rubik;
	display: inline-block;
	font-size: 0.9rem;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

input {
	font-family: Rubik;
	outline: none;
	border: none;
	font-size: 1rem;
}
.section {
	padding: 5rem 0;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.wrapper {
	margin: 0 2rem;
}
